body{
background:#0b0b0b;
color:white;
font-family:Arial;
text-align:center;
padding:30px;
}

.card{
background:#111;
padding:25px;
border-radius:12px;
max-width:400px;
margin:auto;
box-shadow:0 0 20px rgba(0,255,200,0.2);
}

input,button{
width:100%;
padding:12px;
margin-top:10px;
border-radius:8px;
border:none;
}

button{
background:#00ffd0;
font-weight:bold;
cursor:pointer;
}

h1{
color:#00ffd0;
}
